apiVersion: 1
contactPoints:
  - orgId: 1
    name: Telegram
    receivers:
      - uid: telegram-hermes
        type: telegram
        settings:
          bottoken: __TELEGRAM_BOT_TOKEN__
          chatid: "__TELEGRAM_CHAT_ID__"
        disableResolveMessage: false
